@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Teko:300,400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* gradient fallbacks taken from csstricks.com */
body {
  background-color: black;

  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background-image: url(fallback-gradient.svg);

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#eaecef));

  background: -webkit-canvas(mybackground);

  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(left, #ffffff, #eaecef);

  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(left, #ffffff, #eaecef);

  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(left, #ffffff, #eaecef);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(to right, #ffffff, #d8d8d8);
  margin: 0px;
  overflow: hidden;
}

 body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
}

.fp-slides h1 {
text-align: center;
font-family: teko;
color: #c2c2c2;
margin: auto;
font-size: 72px;
text-shadow: 2px -2px 2px #000;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------

Main components

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;

  /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  background-image: url(fallback-gradient.svg);

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#eaecef));

  background: -webkit-canvas(mybackground);

  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(left, #ffffff, #eaecef);

  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(left, #ffffff, #eaecef);

  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(left, #ffffff, #eaecef);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(to right, #ffffff, #d8d8d8);
  margin: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 0px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
  width: 120px;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
     margin: 0px 0 0 5%;
  }
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("http://a136558.sb1.dev.codeanywhere.net/cdnjs/css-parallax/img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
  transition: all 350ms ease;
}


.cd-main-nav li:before {
content: '';
width: 100%;
height: 3px;
visibility: hidden;
-webkit-transform: scaleX(0);
-ms-transform: scaleX(0);
transform: scaleX(0);
background: #04AAB5;
-webkit-transition: all .3s ease;
transition: all .3s ease;
display: block;
}



.cd-main-nav li:hover:before {
content: "";
width: 100%;
height: 3px;
background: #0F7A9C;
position: relative;
display: block;
visibility: visible;
-webkit-transform: scaleX(1);
-ms-transform: scaleX(1);
transform: scaleX(1);
}




@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
font-size: 14px;
font-size: 0.875rem;
font-family: Rajdhani;
font-family: teko;
font-weight: 200;
font-size: 22px;
  }
  .no-touch .cd-main-nav a:hover {
    color: #99a478;
  }
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  background-attachment: fixed;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
	font-size: 65px;
  font-weight: 300;
  font-family: teko;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {
  /* background-image: url("https://i.imgur.com/FM9ibn4.jpg") ; */
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/background.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/background.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/background.jpg");
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #4d4c4c;
  color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478;
  color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #4d4c4c;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}
/*Moving background in text*/
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
body {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
}
.txt-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 100;
  font-size: 70px;
  color: #274042;
}
.dud {
  color: #17a2d8;
}

/**social-icons**/
.icon--twitter::before {
  content: "";
}

.social__icon--twitter {
  background-color: #32b9e7;
}
.social__icon--twitter:hover {
  background-color: #2b9dc4;
}

.icon--facebook::before {
  content: "";
}

.social__icon--facebook {
  background-color: #4b70ab;
}
.social__icon--facebook:hover {
  background-color: #405f91;
}

.icon--googleplus::before {
  content: "";
}

.social__icon--googleplus {
  background-color: #fa5432;
}
.social__icon--googleplus:hover {
  background-color: #d5472b;
}

.icon--linkedin::before {
  content: "";
}

.social__icon--linkedin {
  background-color: #0087be;
}
.social__icon--linkedin:hover {
  background-color: #0073a2;
}

.icon--instagram::before {
  content: "";
}

.social__icon--instagram {
  background-color: #6291b2;
}
.social__icon--instagram:hover {
  background-color: #537b97;
}

.icon--skype::before {
  content: "";
}

.social__icon--skype {
  background-color: #00AFF0;
}
.social__icon--skype:hover {
  background-color: #0095cc;
}

.icon--github::before {
  content: "";
}

.social__icon--github {
  background-color: #333333;
}
.social__icon--github:hover {
  background-color: #2b2b2b;
}

.social__item {
  display: inline-block;
  margin-right: 0.1em;
}

.icon, [class^="icon--"] {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social__icon, [class^="social__icon"] {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  border-radius: 100%;
  width: 2.2em;
  height: 2.2em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__container {
  padding: 1em;
  font-size: 1.5em;
  position: absolute;; /* or absolute */
  top: 44%;
}

/****************Social end*********/
/***** Fullpage.js *****/


#superContainer {
    height: 100%;
    position: relative;

	/* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
	touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    width: 100%;
}
.fp-tableCell {
    display: flex;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-easing {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNavul {
  margin: 0;
  padding: 0;
}
#fp-nav li,
.fp-slidesNavli {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNavli {
    display: inline-block;
}
#fp-nav li a,
.fp-slidesNavli a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav li .active span,
.fp-slidesNav.active span {
    background: #333;
}
#fp-nav span,
.fp-slidesNavspan {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.fp-tooltip {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    top: -2px;
}
.fp-tooltip.right {
    right: 20px;
}
.fp-tooltip.left {
    left: 20px;
}

.cd-main-nav li:hover {
background: #FFF;
transition: all 350ms ease;
max-height: 69px;
}

#slide1 {
    background: url(../img/1c.jpg);
    display: block;
  background-size: cover;
  background-position: center center;
}

#slide2 {
    background: url(../img/2c.jpg);
    display: block;
  background-size: cover;
  background-position: center center;
}


.section {
    padding: 0;
}
.section .cd-container {
    width: 100%;
    max-width: 100%;
}

.smoly {
max-width: 70px!important;
display: inline-block!important;
}

.headroom {
    transition: transform 200ms linear;
   background: rgba(white, 0.5);
  box-shadow: 0 3px 3px rgba(black,0.1);;
  text-align: center;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);

}

  /* Preloader */
.preloader_hide {opacity:0; width:100%; overflow-x:hidden;}
#preloader {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#ecf0f1;
    z-index: 99999;
}
#preloader div {
    position:fixed;
    left:0;
    top:50%;
    display:block;
    width:100%;
    height:10px;
    margin:-5px 0 0;
    text-align:center;

}
#preloader em {
    display:inline-block;
    vertical-align:top;
    margin:0 2px 0 5px;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#17a2d8;
    animation: 1.2s ease-in-out normal none infinite preload_animate;
    -webkit-animation: 1.2s ease-in-out normal none infinite preload_animate;
}
#preloader em:nth-child(1) {
    animation-delay:0s;
    -moz-animation-delay:0s;
    -webkit-animation-delay:0s;
}
#preloader em:nth-child(2) {
    animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
#preloader em:nth-child(3) {
    animation-delay:0.4s;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
#preloader em:nth-child(4) {
    animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
#preloader em:nth-child(5) {
    animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
@-webkit-keyframes preload_animate {
    0% {-webkit-transform: scale(1); opacity:1;}
    50% {-webkit-transform: scale(0.5); opacity:0.5;}
    100% {-webkit-transform: scale(1); opacity:1;}
}
@keyframes preload_animate {
    0% {transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); opacity:1;}
    50% {transform: scale(0.5); -ms-transform: scale(0.5); -webkit-transform: scale(0.5); opacity:0.5;}
    100% {transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); opacity:1;}
}
